<div class="container">
<div class="row">
  <div class="">
  <%movies.each do |movie|%>
  <div class="col-md-3">
    <a href="<%=movie_path(movie.id)%>" class="abcccc">
      <img src="<%=movie.image_url%>" class="img"/>
      <p class="movie-title"><strong><%=movie.title%></strong></p>
    </a>
  </div>
  <%end%>
  </div>
</div>
</div>
