<div class="container">
<div class="row">
  <div class="">
  <%movies.each do |movie|%>
  <div class="col-md-3">
    <a href="<%=movie_path(movie.id)%>">
      <img src="<%=movie.image_url%>" class="img"/>
      <p><strong style= "font-style: italic;"><%=movie.title%></strong></p>
    </a>
  </div>
  <%end%>
  </div>
</div>
</div>
