
  <div class="row">
	 <% movies.each do |movie|%>
	 <a href="<%=movie_path(movie.id)%>">
		 <div class="col-md-3">
				 <img alt="Bootstrap Image Preview" src="<%= movie.image_url%>" class="img-rounded image-setting-index" />
         <h3 class="text-centre text-info">
         <%= movie.title %>
         <h3>
		</div>
	 </a>
	 <% end %>
  </div>
</div>
