<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movies</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
   <%count=0 %>
		<%movies.each do |movie|%>
		<%count+=1%>
		<% if movie.genre == @movies.genre %>

    <tr>
      <td><%=count%></td>
      <td><a href="<%= movie_path(movie.id)%>"> <%= movie.title %> </a> </td>
      <td><%=movie.genre%></td>
    </tr>
		<% end %>
		<% end %>
  </tbody>
</table>
</div>
</div>
			</div>
		</div>
