<!-- <footer id="myfooter">
<div class="footer-top">
  <h1>Movie Store</h1>
</div>
<div class="footer-copyright">
       <p>© 2017 Movie Store.All Rights Reserved</p>
   </div>
</footer> -->
  <div class="footer-all footer1">
  <div class="website-info orange-background white-text">
    <div class="col-sm-3 social-111 website-info__item">
      <p class="pacifico-font larger-font">Follow us on</p>
      <a href="https://id.linkedin.com/in/aftrimarriska" target="_blank" class="linkedn"><i class="fa fa-fw fa-linkedin"></i></a>
      <a href="https://github.com/abhi-161994" target="_blank" class="github"><i class="fa fa-fw fa-github"></i></a>
        <a href="https://www.facebook.com/abhishek.nanda2" target="_blank" class="facebook"><i class="fa fa-fw fa-facebook"></i></a>
    </div>
    <div class="wrapper">
      <div class="website-info__container text-center">
        <div class="row">
          <div class="col-sm-3">
            <h2 class="ftr-root">Movie Store</h2>
          </div>
          <div class="col-sm-3 website-info__item">
            <p class="pacifico-font larger-font">About this page</p>
            <p class="large-font"><b>Made in <i class="fa fa-fw fa-terminal"></i> with <i class="fa fa-fw fa-magic"></i><br />by Abhishek Nanda</b></p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer yellow-background text-center">
    <p class="align-middle">Movie Store &copy; 2017. All Rights Reserved.</p>
  </div>
</div>
</div>
