  <div class="page-header">
    <h1 class="header-setting">
      <img src="/assets/logo.png" class="logom1">
      <div class="abc-heder">
      <ul class="movement">
      <li class="marquee"><span>Welcome to the Movie Store</span> </li>
      </ul>
    </div>
  </h1>
  </div>
  <%= render 'shared/nav'%>
