<div class="page-header">
  <h1 class="header-setting">
    <img src="assets/logo.png">
    <img src="assets/1.jpg">
    <!-- <%= link_to "Movies Store" , root_path,class: "heading" %> -->
  </h1>
</diV>
<%= render 'shared/nav'%>
