  <div class="page-header">
    <h1 class="header-setting">
      <img src="assets/logo.png" class="logom1">
      <!-- <%= link_to "Movies Store" , root_path,class: "heading" %> -->
    </h1>
  </div>
  <%= render 'shared/nav'%>
