.main-container {
  padding: 10px 15px;
}
// .skyblue {
// 	background-color: #22c8ff;
// }
// // .deepskyblue {
// // 	background-color: #00bfff;
// // }
// .darkerskyblue {
// 	background-color: #00a6dd;
// }
// .deepskyblue {
// 	background-color: #00bfff;
// }

.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px;
	height: 100%;
	width:100%;
}

.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em;
}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}


.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
.animation{
  float: right;
}

.img1{
  width:100% !important;
  max-height:700px !important;
}
.carousel-caption .common_class a {
    color: #000000bf;
    font-family: 'Architects Daughter' !important;
    text-decoration: none;
    font-size: 15px;
}

.carousel-caption .common_class {
    border-radius: 0;
    background: #fff;
    color: #333;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 13px 17px;
    white-space: nowrap;
    letter-spacing: 1px;
    /* background: #e53935; */
    background: rgba(241, 245, 12, 0.82);
    display: inline-block;
    text-decoration: none;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.carousel-caption .yellow_class {
  background: rgba(241, 245, 12, 0.82);
}
.carousel-caption .white_class {
  background: #ffffff;
}

.carousel-caption .common_class:hover {
    color: #ffffff !important;
    border: 1px solid #fff;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}



@media screen and (min-width: 768px)
{
.carousel-caption {
    left: 20%;
    right: 15%;
    padding-bottom: 30px;
    float: right;
    text-align: right;
    top: 20%;
}
}




.anim {
   font-size: 72px;
   font-family: 'Architects Daughter' !important;
 margin-bottom: 0px !important;
   font-style: normal;
   line-height: 84px;
   display: inline-block;
   color: white;
   float: right;
   width: 100%;
   padding: 0 !important;
}
.carousel-caption .common_class:hover a {
   color: #fff;
}



.carousel-inner > .item > img {

   opacity: 0.8;
}
