@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
*:focus {
  outline: none;
}
.signuphead{
  font-family: 'Pacifico';
   color: #EF2D56;
}
  .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background: image-url("tumblr_static_2012_movies_collage.jpg");
    // background: cover;
    // background-repeat: no-repeat;
    // box-shadow: 0 0 500px #000 inset,0 0 300px #000 inset,0 0 200px #000 inset;
  }


#login-box {
  display: block;
  top: 80px;
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 450px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  .circle{
    // background-image: url(http://www.ebiztown.com/images/client-face2.png);
    width: 120px;
    height: 120px;
    border-radius:50%;
    position:relative;
    left:50%;
    overflow:hidden;
    transform: translate(-50% ,-50%);
    box-shadow: 0 0 8px #0a0a0a,0 0 0 1px #0a0a0a;
    margin-top: 66px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover!important;
  }
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0px 0px 30px 46px;
  font-weight: 300;
  font-size: 30px;
}

.lgn-text,
.lgn-pass {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.lgn-text:focus,
.lgn-pass:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.lgnsubmit {
  // margin-top: 28px;
  width: 100%;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 25px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);


}

// a{
//    color: #ffffff;
//    text-decoration: none;
// }

.lgnsubmit:hover,
.lgnsubmit:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.lgnsubmit:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 264px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #3498DB;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 41px;
  text-align: center;
  color: #fff;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url(../images/sign-up-form.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook a {
    color: #fff;
    text-decoration: none;
}
button.social-signin.google a{
  color: #fff;
  text-decoration: none;
}
button.social-signin.twitter a{
  color: #fff;
  text-decoration: none;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
